<%= form_for(@bill, url: url, html: {method: method}) do |form| %>

	<%= form.hidden_field :ptype %>

	<%= form.label :date, class: 'col-md-2' %>
	<%= form.date_select :date, {}, {class: 'col-md-2'} %>

	<div class='clearfix'><p>&nbsp;</p></div>

	<%= form.label :what, class: 'col-md-2' %>
	<%= form.text_field :what, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.label :amount, class: 'col-md-2' %>
	<%= form.text_field :amount, step: 0.01, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.label :from, class: 'col-md-2' %>
	<%= form.text_field :from, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.label "Month Frequency", class: 'col-md-2' %>
	<%= form.number_field :inc, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.label :note, class: 'col-md-2' %>
	<%= form.text_field :note, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.submit "#{type} Bill", class: 'btn btn-primary col-md-3' %>
<% end %>

