<h1><%= @title %></h1>

<%= form_tag trumps_play_index_path, method: :post do %>

	<%= hidden_field_tag :game, @gameid %>

	<table>
	<thead>
	<tr>
	<th>Player</th>
	<% @names.each do |id, name| %>
		<th><%= name %></th>
	<% end %>
	</tr>
	</thead>

	<tbody>
	<tr>
	<th>Bid</th>
	<% @names.each do |id, name| %>
		<td><%= number_field_tag "bid#{id}" %></td>
	<% end %>
	</tr>
	<tr>
	<th>Made</th>
	<% @names.each do |id, name| %>
		<td><%= number_field_tag "made#{id}" %></td>
	<% end %>
	</tr>
	</tbody>
	</table>

	<%= submit_tag "Save", class: 'col-md-2 btn btn-primary' %>

<% end %>
