<h1><%= @title %></h1>

<% if @unknowns.count > 0 %>
	<h4>Unknown</h4>
	<ul>
	<% @unknowns.each do |unknown| %>
		<li><%= unknown %></li>
	<% end %>
	</ul>
<% end %>

<table class='table-bordered table-striped fixed-header'>

<thead>
	<tr>
	<th rowspan=2>Date</th>
	<th align='center' colspan=2=>Income</th>
	<th align='center'colspan=3>Expense</th>
	<th align='right' rowspan=2>Distribution</th>
	<th align='right' rowspan=2>Balance</th>
	</tr>
	<tr>
	<th align='right'>Payment</th>
	<th align='right'>Rent</th>
	<th align='right'>Fee</th>
	<th align='right'>Percent</th>
	<th align='right'>OnBoard</th>
	</tr>
</thead>

<tbody>
	<% @months.each do |month, values| %>
		<tr>
		<td><%= month %></td>
		<td align='right'><%= number_with_precision(values['payment'], precision:2) %></td>
		<td align='right'><%= number_with_precision(values['rent'], precision:2) %></td>
		<td align='right'><%= number_with_precision(values['fee'], precision:2) %></td>
		<td align='right'><%= number_with_precision(values['percent'], precision:2) %>%</td>
		<td align='right'><%= number_with_precision(values['onboard'], precision:2) %></td>
		<td align='right'><%= number_with_precision(values['distribution'], precision:2) %></td>
		<td align='right'><%= number_with_precision(values['balance'], precision:2) %></td>
		</tr>
	<% end %>
</tbody>
</table>
