<h1><%= @title %></h1>

<%= form_tag trumps_games_path, method: :post do %>

	<table>
	<thead>
	<tr>
	<th>Order</th>
	<th>Player</th>
	</tr>
	</thead>
	<tbody>
	<% @players.each do |index, value| %>
		<tr>
		<td><%= index %></td>
		<td><%= select_tag "players[#{index}]", options_from_collection_for_select(@names, :id, :name, value), {include_blank: true} %></td>
		</tr>
	<% end %>
	</tbody>
	</table>

	<%= submit_tag 'Submit', class: 'btn btn-primary col-xs-2' %>

<% end %>
