<h1><%= @title %></h1>

<div class='dropdown'>
	<a href='#' data-toggle='dropdown' class='dropdown-toggle'>Choose Year <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<% @years.each do |year| %>
			<li><%= link_to year, finance_expenses_items_path(year: year) %></li>
		<% end %>
	</ul>
</div>

<div class='clearfix'><p>&nbsp;</p></div>

<%= link_to 'Add an item', new_finance_expenses_item_path(year: @year), method: :get %>

<div class='clearfix'><p>&nbsp;</p></div>


<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by (<%= @sort %>) <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <% @sorts.each do |sort| %>
            <li><%= link_to sort, finance_expenses_items_path(sort: sort, filters: @filters) %></li>
        <% end %>
    </ul>
</div>

<table class='table table-bordered table-striped'>

<thead>

<tr>
<th>Date</th>
<th>+/-</th>
<th>Check</th>
<th>What</th>
<th>Amount</th>
<th>Type</th>
<th>Category</th>
<th>Subcat</th>
<th>Tax</th>
<th>Edit</th>
<th>Delete</th>
</tr>

<tr>
<% @columns.each do |column| %>
	<td>
		<%= form_tag finance_expenses_items_path, method: :get do %>
			<%= hidden_field_tag :sort, @sort %>
			<% @columns.each do |c| %>
				<% if c == column %>
					<%= text_field_tag "filters[#{c}]", @filters[c] %>
				<% else %>
					<%= hidden_field_tag "filters[#{c}]", @filters[c] %>
				<% end %>
			<% end %>
		<% end %>
	</td>
<% end %>
<td></td>
<td></td>
</tr>

</thead>

<tbody>
<% @items.each do |id, item| %>
	<tr>
	<td><%= item['date'] %></td>
	<td><%= item['pm'] %></td>
	<td><%= item['checkno'] %></td>
	<td><%= item['what'] %></td>
	<td align='right'><%= number_with_precision(item['amount'], precision: 2) %></td>
	<td><%= item['ctype'] %></td>
	<td><%= item['category'] %></td>
	<td><%= item['subcategory'] %></td>
	<td><%= item['tax'] %></td>
	<td><%= link_to 'Edit', edit_finance_expenses_item_path(id: id, year: @year) %></td>
	<td><%= link_to 'Delete', finance_expenses_item_path(id: id, year: @year), method: :delete, data: {confirm: "Delete #{item['date']}, #{item['what']}, #{item['amount']}?"} %></td>
	</tr>
<% end %>
</tbody>

</table>
