<h1><%= @title %></h1>

<% @stats.each do |name, entries| %>

	<h3><%= name %></h3>

	<table class='table-bordered table-striped fixed-header'>

	<thead>
	<tr>
	<th>What</th>
	<th>Aerobic<br/>Calories<br/>Average</th>
	<th>Aerobic<br/>Calories<br/>Std</th>
	<th>Active<br/>Calories<br/>Average</th>
	<th>Active<br/>Calories<br/>Std</th>
	<th>Resting<br/>Calories<br/>Average</th>
	<th>Resting<br/>Calories<br/>Std</th>
	<th>Total<br/>Calories<br/>Average</th>
	<th>Total<br/>Calories<br/>Std</th>
	<th>Weight<br/>Average</th>
	<th>Weight<br/>Std</th>
	<th>Steps<br/>Average</th>
	<th>Steps<br/>Std</th>
	<th>Flights<br/>Average</th>
	<th>Flights<br/>Std</th>
	<th>Miles<br/>Average</th>
	<th>Miles<br/>Std</th>
	</tr>
	</thead>

	<tbody>
	<% entries.each do |id, values| %>
		<tr>
		<td><%= id %></td>
		<td class='numeric col1b'><%= number_with_precision(values['aerobic_calories_avg'], precision: 2) %></td>
		<td class='numeric col1c'><%= number_with_precision(values['aerobic_calories_std'], precision: 2) %></td>
		<td class='numeric col6b'><%= number_with_precision(values['active_calories_avg'], precision: 2) %></td>
		<td class='numeric col6c'><%= number_with_precision(values['active_calories_std'], precision: 2) %></td>
		<td class='numeric col7b'><%= number_with_precision(values['resting_calories_avg'], precision: 2) %></td>
		<td class='numeric col7c'><%= number_with_precision(values['resting_calories_std'], precision: 2) %></td>
		<td class='numeric col7b'><%= number_with_precision(values['total_calories_avg'], precision: 2) %></td>
		<td class='numeric col7c'><%= number_with_precision(values['total_calories_std'], precision: 2) %></td>
		<td class='numeric col2b'><%= number_with_precision(values['weight_avg'], precision: 2) %></td>
		<td class='numeric col2c'><%= number_with_precision(values['weight_std'], precision: 2) %></td>
		<td class='numeric col3b'><%= number_with_precision(values['steps_avg'], precision: 2) %></td>
		<td class='numeric col3c'><%= number_with_precision(values['steps_std'], precision: 2) %></td>
		<td class='numeric col4b'><%= number_with_precision(values['flights_avg'], precision: 2) %></td>
		<td class='numeric col4c'><%= number_with_precision(values['flights_std'], precision: 2) %></td>
		<td class='numeric col5b'><%= number_with_precision(values['miles_avg'], precision: 2) %></td>
		<td class='numeric col5c'><%= number_with_precision(values['miles_std'], precision: 2) %></td>
		</tr>
	<% end %>
	</tbody>

	</table>

<% end %>
