<%= form_for @player do |player| %>

	<%= hidden_field_tag :date, @date %>
	<%= hidden_field_tag :start_date, @start_date %>
	<%= hidden_field_tag :end_date, @end_date %>
	<%= hidden_field_tag :times, @times %>

	<%= player.label :name, "Name", class: 'col-xs-2' %>
	<%= player.text_field :name, class: 'col-xs-2' %>

	<div class='clearfix'></div>

	<%= player.label :email, "Email", class: 'col-xs-2' %>
	<%= player.text_field :email, class: 'col-xs-2' %>

	<div class='clearfix'></div>

	<%= player.submit 'Update Player', class: 'btn btn-primary btn-xs col-xs-2' %>

<% end %>

<div class='clearfix'><p>&nbsp;</p></div>
