<h1><%= @title %></h1>

<% if @messages.count > 0 %>
	<ul>
	<% @messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
<% end %>

<p>First line is headers. Date is required, others are optional.</p>
<ul>
<li>Date (yyyy-mm-dd)</li>
<li>Resistance</li>
<li>Aerobic Calories</li>
<li>Weight</li>
<li>Steps</li>
<li>Flights</li>
<li>Miles</li>
<li>Active Calories</li>
<li>Resting Calories</li>
</ul>

<%= form_tag({action: :create}, multipart: true) do %>

	<h3>Import file (csv)</h3>
	<%= file_field_tag 'sheet' %>

	<%= submit_tag "Import", class: 'btn btn-primary col-md-1' %>
	<div class:'clearfix'><p>&nbsp;</p></div>
<% end %>
