<%= form_for(@what, url: url, html: {method: method}) do |form| %>

	<%= hidden_field_tag :sort, @sort %>
	<% @filters.each do |column, value| %>
		<%= hidden_field_tag "filters[#{column}]", value %>
	<% end %>

	<%= form.label :what, class: 'col-md-2' %>
	<%= form.text_field :what, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.label 'Category', class: 'col-md-2' %>
	<%= form.select :finance_expenses_category_id, @categories.collect {|category| [category.ctype + '/' + category.category + '/' + category.subcategory + '/' + category.tax, category.id]}, {}, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.submit "#{type} What Map", class: 'btn btn-primary col-md-3' %>
<% end %>

