<h1><%= @title %></h1>

<%= link_to 'New Map', new_finance_expenses_what_path %>

<div class='clearfix'><p>&nbsp;</p></div>

<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by (<%= @sort %>) <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <% @sorts.each do |sort| %>
            <li><%= link_to sort, finance_expenses_whats_path(sort: sort, filters: @filters) %></li>
        <% end %>
    </ul>
</div>


<table class='table table-bordered table-striped' id='table_report'>

<thead>

<tr>
<th>What</th>
<th>Type</th>
<th>Category</th>
<th>Subcategory</th>
<th>Tax</th>
<th>Edit</th>
<th>Delete</th>
<th>Remap</th>
</tr>

<%= form_tag finance_expenses_whats_path, method: :get do %>
<%= hidden_field_tag :sort, @sort %>
<tr>
<% @columns.each do |column| %>
	<td><%= text_field_tag "filters[#{column}]", @filters[column] %></td>
<% end %>
<td></td>
<td><%= submit_tag 'Filter', class: 'btn btn-primary btn-xs' %></td>
<td></td>
</tr>
<% end %>

</thead>

<tbody>
<% @whats.each do |id, values| %>
	<tr>
	<td><%= link_to values['what'], finance_expenses_whats_path(id: id), method: :get %></td>
	<td><%= values['ctype'] %></td>
	<td><%= values['category'] %></td>
	<td><%= values['subcategory'] %></td>
	<td><%= values['tax'] %></td>
	<td><%= link_to 'Edit', edit_finance_expenses_what_path(id) %></td>
	<td><%= link_to 'Delete', finance_expenses_whats_path(id), method: :delete, data: {confirm: "Delete #{values['what']}?"} %></td>
	<td><%= link_to 'Remap', finance_expenses_whats_remap_path(id: id) %></td>
	</tr>
<% end %>
</tbody>

</table>
