<h1><%= @title %></h1>

<%= link_to 'New Map', new_finance_expenses_what_path(sort: @sort, filters: @filters) %>

<div class='clearfix'><p>&nbsp;</p></div>

<%= render 'sort_filter/sort_dropdown', path: finance_expenses_whats_path, method: :get %>

<table class='table table-bordered table-striped fixed-header'>

<thead>

<tr>
<th>What</th>
<th>Type</th>
<th>Category</th>
<th>Subcategory</th>
<th>Tax</th>
<th>Edit</th>
<th>Delete</th>
<th>Remap</th>
</tr>

<%= render 'sort_filter/filter_row', path: finance_expenses_whats_path %>

</thead>

<tbody>
<% @whats.each do |id, values| %>
	<tr>
	<td><%= link_to values['what'], finance_expenses_what_path(id: id, sort: @sort, filters: @filters), method: :get %></td>
	<td><%= values['ctype'] %></td>
	<td><%= values['category'] %></td>
	<td><%= values['subcategory'] %></td>
	<td><%= values['tax'] %></td>
	<td><%= link_to 'Edit', edit_finance_expenses_what_path(id, sort: @sort, filters: @filters) %></td>
	<td><%= link_to 'Delete', finance_expenses_what_path(id: id, sort: @sort, filters: @filters), method: :delete, data: {confirm: "Delete #{values['what']}?"} %></td>
	<td><%= link_to 'Remap', finance_expenses_whats_remap_path(id: id, sort: @sort, filters: @filters) %></td>
	</tr>
<% end %>
</tbody>

</table>
