<h1><% @title %></h1>

<%= form_tag finance_expenses_whats_remapupdate_path, :method => :get do %>

	<%= hidden_field_tag :id, @what.id %>
	<%= hidden_field_tag :sort, @sort %>
	<% @filters.each do |column, value| %>
		<%= hidden_field_tag "filters[#{column}]", value %>
	<% end %>

	<%= @what.what %>
	<%= select_tag :newid, options_for_select(@whats) %>

	<div class='clearfix'><p>&nbsp;</p></div>

	<%= submit_tag 'Remap', class: 'btn btn-primary col-md-1' %>

<% end %>
