<h1><%= @title %></h1>

<%= link_to 'New Category', new_finance_expenses_category_path, class: 'btn btn-primary col-md-1' %>

<div class='clearfix'><p>&nbsp;</p></div>
<div class='clearfix'><p>&nbsp;</p></div>

<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by (<%= @sort %>) <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <% @sorts.each do |sort| %>
            <li><%= link_to sort, finance_expenses_categories_path(sort: sort, filters: @filters) %></li>
        <% end %>
    </ul>
</div>

<table class='table table-bordered table-striped'>

<thead>

<tr>
<th>Type</th>
<th>Category</th>
<th>Subcategory</th>
<th>Tax</th>
<th>Edit</th>
<th>Delete</th>
<th>Details</th>
</tr>

<tr>
<% @columns.each do |column| %>
	<td>
		<%= form_tag finance_expenses_categories_path, method: :get do %>
			<%= hidden_field_tag :sort, @sort %>
			<% @columns.each do |c| %>
				<% if c == column %>
					<%= text_field_tag "filters[#{c}]", @filters[c] %>
				<% else %>
					<%= hidden_field_tag "filters[#{c}]", @filters[c] %>
				<% end %>
			<% end %>
		<% end %>
	</td>
<% end %>
<td></td>
<td></td>
<td></td>
</tr>

</thead>

<tbody>
<% @categories.each do |id, values| %>
	<tr>
	<td><%= values['ctype'] %></td>
	<td><%= values['category'] %></td>
	<td><%= values['subcategory'] %></td>
	<td><%= values['tax'] %></td>
	<td><%= link_to 'Edit', edit_finance_expenses_category_path(id) %></td>
	<td><%= link_to 'Delete', finance_expenses_category_path(id), method: :delete, data: {confirm: "Delete #{values['ctype']}/#{values['category']}/#{values['subcategory']}/#{values['tax']}?"} %></td>
	<td><%= link_to 'Details', finance_expenses_category_path(id) %></td>
	</tr>
<% end %>
</tbody>

</table>

