<h1><%= @title %></h1>

<%= link_to 'New Category', new_finance_expenses_category_path(sort: @sort, filters: @filters), class: 'btn btn-primary col-md-1' %>

<div class='clearfix'><p>&nbsp;</p></div>
<div class='clearfix'><p>&nbsp;</p></div>

<%= render 'sort_filter/sort_dropdown', path: finance_expenses_categories_path, method: :get %>

<table class='table table-bordered table-striped fixed-header'>

<thead>

<tr>
<th>Type</th>
<th>Category</th>
<th>Subcategory</th>
<th>Tax</th>
<th>Edit</th>
<th>Delete</th>
<th>Details</th>
</tr>

<%= render 'sort_filter/filter_row', path: finance_expenses_categories_path %>

</thead>

<tbody>
<% @categories.each do |id, values| %>
	<tr>
	<td><%= values['ctype'] %></td>
	<td><%= values['category'] %></td>
	<td><%= values['subcategory'] %></td>
	<td><%= values['tax'] %></td>
	<td><%= link_to 'Edit', edit_finance_expenses_category_path(id: id, sort: @sort, filters: @filters) %></td>
	<td><%= link_to 'Delete', finance_expenses_category_path(id: id, sort: @sort, filters: @filters), method: :delete, data: {confirm: "Delete #{values['ctype']}/#{values['category']}/#{values['subcategory']}/#{values['tax']}?"} %></td>
	<td><%= link_to 'Details', finance_expenses_category_path(id: id, sort: @sort, filters: @filters) %></td>
	</tr>
<% end %>
</tbody>

</table>

