<h1><%= @title %></h1>

<%= form_tag genealogy_children_path, method: :post do %>

	<%= hidden_field_tag :individual_id, @individual.id %>

	<div class="field">
		<%= label_tag :family_id, 'Parents', class: 'col-md-1' %>
		<%= select_tag :family_id, options_for_select(@families), class: 'col-md-6' %>
	</div>

	<div class='clearfix'></div>

	<div class="field">
		<%= label_tag :child_id, 'Child', class: 'col-md-1' %>
		<%= select_tag :child_id, options_for_select(@individuals), class: 'col-md-6' %>
	</div>

	<div class='clearfix'><p>&nbsp;</p></div>

	<div class="actions">
		<%= submit_tag "Save", class: 'col-md-2 btn btn-primary' %>
	</div>
<% end %>
