<h1><%= @title %></h1>

<p><%= link_to 'Back', finance_investments_summary_index_path, class: 'btn btn-xs btn-primary' %></p>

<table class='table-bordered table-striped fixed-header'>

<thead>
<tr>
<th>Fund</th>
<% @years.each do |year| %>
	<th><%= year %></th>
<% end %>
</tr>
</thead>

<tbody>
<% @funds.each do |id, values| %>
	<tr>
	<td><%= values['name'] %></td>
	<% @years.each do |year| %>
		<th><%= number_with_precision(values[year], precision: 2) %></th>
	<% end %>
	</tr>
<% end %>
</tbody>

</table>
