<h1><%= @title %></h1>

<%= link_to 'New Map', new_finance_expenses_what_map_path(sort: @sort, filters: @filters) %>

<div class='clearfix'><p>&nbsp;</p></div>

<%= render 'sort_filter/sort_dropdown', path: finance_expenses_what_maps_path, method: :get %>

<table class='table table-bordered table-striped fixed-header'>

<thead>

<tr>
<th>What</th>
<th>Map</th>
<th>Edit</th>
<th>Delete</th>
</tr>

<%= render 'sort_filter/filter_row', path: finance_expenses_what_maps_path %>

</thead>

<tbody>
<% @whatmaps.each do |id, values| %>
	<tr>
	<td><%= values['what'] %></td>
	<td><%= values['map'] %></td>
	<td><%= link_to 'Edit', edit_finance_expenses_what_map_path(id, sort: @sort, filters: @filters) %></td>
	<td><%= link_to 'Delete', finance_expenses_what_map_path(id, sort: @sort, filters: @filters), method: :delete, data: {confirm: "Delete #{values['what']}?"} %></td>
	</tr>
<% end %>
</tbody>

</table>
