<h1><%= @title %></h1>

<%= link_to 'New Map', new_finance_expenses_what_map_path(sort: @sort, filters: @filters) %>

<div class='clearfix'><p>&nbsp;</p></div>

<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by (<%= @sort %>) <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <% @sorts.each do |sort| %>
            <li><%= link_to sort, finance_expenses_what_maps_path(sort: sort, filters: @filters) %></li>
        <% end %>
    </ul>
</div>

<table class='table table-bordered table-striped' id='table_report'>

<thead>

<tr>
<th>What</th>
<th>Map</th>
<th>Edit</th>
<th>Delete</th>
</tr>

<%= form_tag finance_expenses_what_maps_path, method: :get do %>
<%= hidden_field_tag :sort, @sort %>
<tr>
<% @columns.each do |column| %>
	<td><%= text_field_tag "filters[#{column}]", @filters[column] %></td>
<% end %>
<td></td>
<td><%= submit_tag 'Filter', class: 'btn btn-primary btn-xs' %></td>
</tr>
<% end %>

</thead>

<tbody>
<% @whatmaps.each do |id, values| %>
	<tr>
	<td><%= values['what'] %></td>
	<td><%= values['map'] %></td>
	<td><%= link_to 'Edit', edit_finance_expenses_what_map_path(id, sort: @sort, filters: @filters) %></td>
	<td><%= link_to 'Delete', finance_expenses_what_map_path(id, sort: @sort, filters: @filters), method: :delete, data: {confirm: "Delete #{values['what']}?"} %></td>
	</tr>
<% end %>
</tbody>

</table>
