<h1><%= @title %></h1>

<p><%= link_to 'Back', finance_investments_summary_management_index_path, class: 'btn btn-xs btn-primary' %></p>

<%= form_tag finance_investments_summary_management_showupdate_path, :method => :put do %>

<%= submit_tag 'Update', class: 'btn btn-large btn-primary col-xs-2' %>

<%= hidden_field_tag :summary, @summary.id %>

<div class='clearfix'><p>&nbsp;</p></div>

<table>

<thead>
	<tr>
	<th>Account</th>
	<th>Included</th>
	</tr>
</thead>

<tbody>
<% @accounts.each do |id, values| %>
	<tr>
	<td><%= values['name'] %></td>
	<td><%= check_box_tag id, nil, values['included'] %></td>
	</tr>
<% end %>
</tbody>

</table>

<% end %>
