<h1><%= @title %></h1>

<table>

<thead>
<tr>
<th>Fund</th>
<th>Value</th>
<th>Target</th>
</tr>
</thead>

<tbody>
<% @funds.each do |id, fund| %>
	<tr>
	<td><%= fund['name'] %></td>
	<td><%= fund['value'] %></td>
	<td><%= fund['target'] %></td>
	</tr>
<% end %>
</tbody>

</table>

<%= form_tag finance_investments_rebalance_showupdate_path, method: :get do %>

	<%= hidden_field_tag :id, @rebalance.id %>

	<%= label_tag 'Amount to be withdrawn' %>
	<%= number_field_tag :withdraw, 0, step: :any %>

	<div class='clearfix'><p>&nbsp;</p></div>

	<%= check_box_tag :withdraw_only, nil, nil, class: 'col-xs-1' %>
	<%= label_tag :withdraw_only, 'Withdrawal only', class: 'col-xs-11' %>

	<div class='clearfix'><p>&nbsp;</p></div>

	<%= submit_tag 'Rebalance', class: 'btn btn-primary col-md-2' %>

<% end %>
