<h1><%= @title %></h1>

<%= form_tag finance_investments_rebalance_types_showupdate_path, :method => :get do %>

<%= submit_tag 'Update', class: 'btn btn-large btn-primary col-xs-2' %>

<%= hidden_field_tag :rebalance_type, @rebalance_type.id %>

<div class='clearfix'><p>&nbsp;</p></div>

<table>

<thead>
	<tr>
	<th>Fund</th>
	<th>Included</th>
	<th>Target</th>
	</tr>
</thead>

<tbody>
<% @funds.each do |id, values| %>
	<tr>
	<td><%= values['name'] %></td>
	<td><%= check_box_tag id, nil, values['included'] %></td>
	<td><%= number_field_tag "target#{id}", values['target'], step: :any %></td>
	</tr>
<% end %>
</tbody>

</table>

<% end %>
