<h1><%= @title %></h1>

<% if @messages.count > 0 %>
	<ul>
	<% @messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
<% end %>

<h3>Select Document</h3>

<%= form_tag({action: :create}, multipart: true) do %>

	<%= file_field_tag 'document' %>

	<%= submit_tag "Submit", class: 'btn btn-primary col-md-1' %>

<% end %>
