<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Genealogy <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Search", genealogy_search_index_path %></li>
    <li><%= link_to "Add Individual", new_genealogy_individual_path %></li>
    <li><%= link_to "Manage Repos", genealogy_repos_path %></li>
    <li><%= link_to "Manage Sources", genealogy_sources_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Duplicates", genealogy_duplicates_path %></li>
    <li><%= link_to "Full Trees", genealogy_full_trees_path %></li>
  </ul>
</li>
