<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Music <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Search",  new_music_search_path %></li>
    <li><%= link_to "Albums",  music_albums_path %></li>
    <li><%= link_to "Artists",  music_artists_path %></li>
    <li><%= link_to "Genres",  music_genres_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Queue",  music_playlists_path %></li>
    <li><%= link_to "Play",  music_play_path(id: current_user.id) %></li>
    <li class="divider"></li>
    <li><%= link_to "Sync", music_sync_index_path %></li>
  </ul>
</li>
